**/bin/
**/obj/
.env
.env.**
TestResults/
*.user
*.suo
data/*
**/google-credentials.*.json
**/client_secret.json
**google-token-store/**
**/appsettings.**.json
**/ClientApp/build/**.*
data-podman/*
backups/*
data-podman-restore-test/*
scripts/maintenance/pg.env.ps1
scripts/maintenance/*.secret.ps1
supabase